<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.meta_title %}{{ page.meta_title | escape }} - {% endif %}{{ site.meta_title | escape }}</title>
	<meta name="keywords" content="{{ site.meta_keywords }}" />
	{% if page.use_default_meta_description or page.meta_description -%}
		{% if page.use_default_meta_description %}
			{% assign meta_description = site.meta_description %}
		{% else %}
			{% assign meta_description = page.meta_description %}
		{% endif %}

		<meta name="description" content="{{ meta_description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
	{%- endif %}

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: full_base_url }}">
	<link rel="icon" href="{{ "/favicon.ico" | prepend: full_base_url }}" />

	{% include styles.html %}
</head>
