<nav class="nav">
	<div class="container">
		<div class="nav-left">
			<a class="nav-item is-brand" href="{{ '/' | prepend: full_base_url }}">
				RWBY VOSTFR
			</a>
		</div>

		<span class="nav-toggle">
			<span></span>
			<span></span>
			<span></span>
		</span>

		<div class="nav-right nav-menu">
			{% for my_page in site.pages %}
				{% if my_page.menu_title %}
					<a class="nav-item" href="{{ my_page.url | prepend: full_base_url }}">
						{{ my_page.menu_title | escape }}
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</nav>
