<div class="card">
	<div class="card-image">
		<figure class="image is-2by1">
			<img src="{{ member.background }}" alt="{{ member.name }} background">
		</figure>
	</div>
	<div class="card-content">
		<div class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="{{ member.avatar }}" alt="{{ member.name }} avatar">
				</figure>
			</div>
			<div class="media-content">
				<p class="title is-4">{{ member.name | escape }}</p>
			</div>
		</div>

		<p>
			{% for role in member.roles %}
				<span class="tag">
					{{role}}
				</span>
			{% endfor %}
		</p>

		<div class="content">
			{{ member }}
		</div>
	</div>
</div>
