<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{% include head.html %}

	<body>
		{% include header.html %}

		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column is-three-quarters">
						{{ content }}
					</div>
					<div class="column is-one-quarter">
						<div class="box">REGARDER LA SERIE</div>

						<div class="intrisic-ratio-container" style="padding-bottom: 92%">
							<iframe name="f3486bd1deea272" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like_box Facebook Social Plugin" style="border: medium none; visibility: visible;" src="https://www.facebook.com/plugins/like_box.php?app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FP5DLcu0KGJB.js%3Fversion%3D42%23cb%3Df175add87f9a2c4%26domain%3Drwby.orgfree.com%26origin%3Dhttp%253A%252F%252Frwby.orgfree.com%252Ff324a1ceec7e9b6%26relation%3Dparent.parent&amp;container_width=250&amp;header=true&amp;height=300&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FRWBY-Vostfr%2F534325266619849%3Fref%3Dtn_tnmn&amp;locale=fr_FR&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=250" frameborder="0" width="250px" height="230px"></iframe>
						</div>

						<br>

						<div class="intrisic-ratio-container" style="padding-bottom: 142.85%">
							<iframe src="https://discordapp.com/widget?id=229943574374907904&theme=dark" allowtransparency="true" frameborder="0" width="140" height="200"></iframe></iframe>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% include footer.html %}
	</body>
</html>
