{% assign custom_url = site.url | append: site.baseurl %}
{% assign full_base_url = custom_url | default: site.github.url %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{% include head.html %}

	<body>
		<section class="hero is-dark is-bold is-medium header">
			<div class="hero-head">
				{% include header.html %}
			</div>
			<div class="hero-body">
				<div class="container has-text-centered">
					<h1 class="title is-1 is-inverted main-title">
						RWBY VOSTFR
					</h1>

					<h2 class="subtitle">
						Communautée française autour de la série <a href="https://roosterteeth.com/show/rwby">RWBY</a> de <a href="https://roosterteeth.com">Rooster Teeth</a>
					</h2>
				</div>
			</div>
		</section>

		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column is-three-quarters">
						{{ content }}
					</div>
					<div class="column is-one-quarter">
						<p class="title is-3 is-inverted">Communauté</p>
						<div>
							<div class="fb-page" data-href="https://www.facebook.com/RWBYVostfr" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/RWBYVostfr" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/RWBYVostfr">RWBY VOSTFR sur Facebook</a></blockquote></div>
						</div>

						<br>

						<div class="intrisic-ratio-container" style="padding-bottom: 142.85%">
							<iframe src="https://discordapp.com/widget?id=229943574374907904&theme=dark" allowtransparency="true" frameborder="0" width="140" height="200"></iframe></iframe>
						</div>

						<br>

						<p class="title is-3 is-inverted">Partenaires</p>

						<div class="card is-fullwidth">
							<header class="card-header">
								<p class="card-header-title">
									<a href="http://redvsbluevostfr.url.ph/">Red vs Blue VOSTFR</a>
								</p>
							</header>
							<div class="card-content">
								<div class="content">
									Projet de sous-titrage du célèbre machinima américain créé par Rooster Teeth
								</div>
							</div>
						</div>

						<br>

						<div class="card is-fullwidth">
							<header class="card-header">
								<p class="card-header-title">
									<a href="http://rwby-center.fr/forum/">RWBY Center</a>
								</p>
							</header>
							<div class="card-content">
								<div class="content">
									Forum et wiki autour de RWBY
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{% include footer.html %}

		{% include scripts.html %}
	</body>
</html>
