---
layout: "default"
---
{% assign custom_url = site.url | append: site.baseurl %}
{% assign full_base_url = custom_url | default: site.github.url %}

{% if content and content != '' %}
	<div class="content">
		{{ content }}
	</div>
{% endif %}

<div class="columns is-multiline">
	{% for set in site.sets %}
		{% if set.published %}
			<div class="column is-half">
				<div class="card is-fullwidth">
					<header class="card-header">
						<p class="card-header-title">
							{{ set.name | escape }}
						</p>
					</header>
					<div class="card-image">
						<figure class="image is-4by3">
							<img src="{{set.banner}}" alt="">
						</figure>
					</div>
					<div class="card-content">
						{% if set.content and set.content != '' %}
							<div class="content">
								{{ set.content }}
							</div>
						{% endif %}

						{% for episode in site.episodes %}
							{% if episode.set == set.slug %}
								<p>
									<strong>
										<a href="{{ episode.url }}">{{ episode.name | escape }}</a>
									</strong>
								</p>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>
