---
layout: "default"
---
<nav class="pagination">
	{% if page.previous.set == page.set %}
		<a href="{{ page.previous.url }}" class="button">Précédent</a>
	{% else %}
		<a class="button is-disabled">Précédent</a>
	{% endif %}

	<ul>
		{% for episode in site.episodes %}
			{% if episode.set == page.set %}
				{% if episode.number == page.number %}
					<li><a class="button is-active">{{ episode.number }}</a></li>
				{% else %}
					<li><a href="{{ episode.url }}" class="button">{{ episode.number }}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>

	{% if page.next.set == page.set %}
		<a href="{{ page.next.url }}" class="button">Suivant</a>
	{% else %}
		<a class="button is-disabled">Suivant</a>
	{% endif %}
</nav>

<br>

{% if page.rutube %}
	<div class="intrisic-ratio-container is-16-9">
		<iframe width="720" height="405" src="https://rutube.ru/play/embed/{{page.rutube}}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
	</div>
{% endif %}

{% assign content = content | strip_newlines %}
{% if content != ''  %}
	<br>

	<div class="content box">
		{{ content }}
	</div>
{% endif %}
