---
layout: "default"
---
{% assign custom_url = site.url | append: site.baseurl %}
{% assign full_base_url = custom_url | default: site.github.url %}

{% if content and content != '' %}
	<div class="content">
		{{ content }}
	</div>
{% endif %}

{% for set in site.sets %}
	<p class="title is-2">{{ set.name | escape }}</p>

	<div class="box">
		{% if set.content and set.content != '' %}
			<div class="content">
				{{ set.content }}
			</div>
		{% endif %}

		{% for episode in site.episodes %}
			{% if episode.set == set.slug %}
				<p>
					<strong>
						<a href="{{ episode.url }}">{{ episode.name | escape }}</a>
					</strong>
				</p>
			{% endif %}
		{% endfor %}
	</div>
{% endfor %}
