---
layout: "default"
---
{% assign custom_url = site.url | append: site.baseurl %}
{% assign full_base_url = custom_url | default: site.github.url %}

{% if content %}
	<div class="content">
		{{ content }}
	</div>
{% endif %}

{% for member in site.members %}
	<div class="box">
		<article class="media">
			<figure class="media-left">
				<p class="image is-128x128"><img src="http://placehold.it/128x128"></p>
			</figure>

			<div class="media-content">
				<div class="content">
					<div class="content">
						<p>
							<strong>
								<a>{{ member.name | escape }}</a>
							</strong>
						</p>

						{{ member }}
					</div>
				</div>
			</div>
		</article>
	</div>
{% endfor %}
